{% extends "layout.html" %}

{% block pageTitle %}
  Scan document – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Scan your documents</h1>

      <form class="form" action="/url/of/next/page" method="post">

        <p>Use the camera on your device to scan your document</p>

        <img src="/public/images/camera.jpeg" alt="camera upload icon">
        <a href="/confirm_choice"><button class="govuk-button" data-module="govuk-button">Continue</button></a>

      </form>

    </div>
  </div>

{% endblock %}
